<html>
  <body>
    <form method="post" action="/">
      <input type="hidden" name="curr_comparison" value=0 >
      <div class="row">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <div class="column">
          <span>
            begin
          </span>
        </div>
        <div class="column">
          <span>
            <input type="submit" name="date" value="1">
          </span>
        </div>
      </div>
    </form>
  </body>
</html>
